Modules/Microsoft.PowerToys.Configure/** linguist-vendored
Modules/Microsoft.WinGet.Client/** linguist-vendored
Modules/Microsoft.WinGet.CommandNotFound/** linguist-vendored
Modules/Terminal-Icons/** linguist-vendored